.contact-container {
  padding: 40px;
  background-color: var(--bg-color);
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 0 auto;

  h1 {
    text-align: center;
    color: var(--primary-color);
    margin-bottom: 40px;
    font-size: 2rem;
    position: relative;
    display: inline-block;
    padding-bottom: 10px;

    &:after {
      content: '';
      position: absolute;
      width: 50%;
      height: 3px;
      background-color: var(--primary-color);
      bottom: 0;
      left: 25%;
    }
  }
  h1 span{
    color: red;
  }

  .form-group {
    margin-bottom: 20px;
    position: relative;

    label {
      display: block;
      margin-bottom: 10px;
      color: var(--text-color);
      font-weight: bold;
    }

    input,
    textarea {
      width: 100%;
      padding: 15px;
      border: 2px solid transparent;
      border-radius: 10px;
      font-size: 1rem;
      color: var(--text-color);
      background-color: var(--card-bg-color);
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
      transition: all 0.3s ease;

      &:focus {
        outline: none;
        border-color: var(--primary-color);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        background-color: var(--input-focus-bg-color);
      }
    }

    textarea {
      resize: vertical;
      height: 150px;
    }
  }

  button {
    display: block;
    margin: 30px auto 0;
    padding: 12px 30px;
    background-color: var(--btn-bg-color);
    color: var(--primary-color);
    border: none;
    border-radius: 30px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);

    &:hover {
      background-color: var(--btn-bg-color-hover);
      transform: translateY(-5px);
      box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    }
  }
}
