<footer class="footer">
  <div class="footer-container">
    <p>&copy; {{ currentYear }} Yan Silva Sales. Todos os direitos reservados.</p>
    <div class="social-links">
      <a href="https://github.com/YanSales" target="_blank" rel="noopener noreferrer">
        <img src="../../../assets/icons/github.png" alt="GitHub Icon">
      </a>
      <a href="https://www.linkedin.com/in/yan-sales-535429270" target="_blank" rel="noopener noreferrer">
        <img src="../../../assets/icons/social-linkedin.svg" alt="LinkedIn Icon">
      </a>
      <a href="mailto:yanssales@hotmail.com">
        <img src="../../../assets/icons/envelope.svg" alt="Email Icon">
      </a>
      <a href="https://wa.me/yourwhatsappnumber" target="_blank" rel="noopener noreferrer">
        <img src="../../../assets/icons/whatsapp.svg" alt="WhatsApp Icon">
      </a>
    </div>
  </div>
</footer>
