.navbar {
  background-color: var(--navbar-bg-color);
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 1000;
  height: 33%;

  &.dark-theme {
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.5); // Sombra mais intensa para o tema escuro
  }

  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .navbar-logo {
      font-size: 2rem;
      color: var(--primary-color);
      text-decoration: none;
      font-weight: bold;
      cursor: pointer;
      transition: 0.3s ease;

      span:last-child {
        text-shadow: 0px 0px 25px red; // Sombra vermelha para "Sales"
      }
    }

    .navbar-logo:hover {
      transform: scale(1.1);
    }

    .navbar-links {
      list-style: none;
      display: flex;
      gap: 20px;

      li {
        a {
          text-decoration: none;
          color: var(--text-color);
          transition: color 0.3s, text-shadow 0.3s, opacity 0.3s; // Adicionando transição para opacidade

          &:hover {
            color: red;
            text-shadow: 0 0 10px red;
            opacity: 0.8; // Fica menos visível ao passar o mouse
          }

          &.router-link-active {
            text-decoration: underline;
            color: red;
            text-shadow: 0 0 10px red;
          }
        }
      }
    }
  }

  .theme-toggle {
    position: relative;
    width: 60px;
    height: 30px;
  }

  input[type="checkbox"] {
    display: none;
  }

  .toggle-label {
    display: block;
    width: 100%;
    height: 100%;
    background-color: #ccc;
    border-radius: 30px;
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .toggle-label:before {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    width: 26px;
    height: 26px;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.3s;
  }

  input[type="checkbox"]:checked+.toggle-label {
    background-color: #4d4d4d;
    /* Cor para o tema escuro */
  }

  input[type="checkbox"]:checked+.toggle-label:before {
    transform: translateX(30px);
  }

  .toggle-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    pointer-events: none;
    /* Desativa a interação com os ícones */
  }

  .sun {
    left: 2px;
    color: yellow;
  }

  .moon {
    right: 3px;
    color: white;
  }

  input[type="checkbox"]:checked~.toggle-label .sun {
    opacity: 0;
  }

  input[type="checkbox"]:not(:checked)~.toggle-label .moon {
    opacity: 0;
  }
}
