<nav class="navbar">
  <div class="navbar-container">
    <a routerLink="/" class="navbar-logo">Yan <span>Sales</span></a>
    <ul class="navbar-links">
      <li><a routerLink="/" routerLinkActive="router-link-active" [routerLinkActiveOptions]="{ exact: true }">Home</a></li>
      <li><a routerLink="/projects" routerLinkActive="router-link-active" [routerLinkActiveOptions]="{ exact: true }">Projetos</a></li>
      <li><a routerLink="/skills" routerLinkActive="router-link-active" [routerLinkActiveOptions]="{ exact: true }">Habilidades</a></li>
      <li><a routerLink="/contact" routerLinkActive="router-link-active" [routerLinkActiveOptions]="{ exact: true }">Contato</a></li>
    </ul>
  </div>

  <!-- Botão de alternância do tema -->
  <div class="theme-toggle">
    <input type="checkbox" id="theme-switch" (change)="toggleTheme()" [checked]="isDarkTheme" />
    <label for="theme-switch" class="toggle-label">
      <span class="toggle-icon sun">🌞</span>
      <span class="toggle-icon moon">🌙</span>
    </label>
  </div>
</nav>
